.animation-wrapper {
    height: 300px;
    justify-content: center;
    display: flex;
}
.button {
    float: right;
}

#monster-body,
#monster-eyelids,
#monster-mouth {
    position: absolute;
    margin: 0 auto;
    top: -50px;
}
#monster-eyelids,
#monster-mouth {
    z-index: 2;
}
