
.animation-wrapper{
    position: relative;
    height: 300px;
    justify-content: center;
    display: flex;
}

#monster-body, #monster-eyelids, #monster-mouth{
    position: absolute;
    margin: 0 auto;
    top: -50px;
}
#monster-eyelids, #monster-mouth{
    z-index: 2;
}


.pupil path{

    transform: translate(20px,20px);

}